// logo mixins

@import 'base/fonts';

* {
    padding: 0;
}

span {
    color: #FFF;
}

.content{
    width: 100%;
    max-width: 930px;
}

.header {
  font-size: 30px;
  font-family: $logo-default;
  color: #FFF;
  letter-spacing: .625px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
}

.header a {
    color: inherit;
    text-decoration: none;
}

.filled-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 3.5px;
    padding: 11px 34px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(to top, rgb(78, 100, 126) , rgb(70, 87, 109));
    box-shadow: 2px 2px 4px rgba(37, 48, 61, 0.44);
}

.vacant-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    border-radius: 3.5px;
    padding: 11px 34px;
    text-decoration: none;
    color: rgb(49, 97, 136);
    background-image: linear-gradient(to bottom, rgb(230, 230, 230) , rgb(243, 243, 243));
    box-shadow: 2px 2px 8px 1px rgba(40, 64, 92, 0.44);
}

.showcase {
    color: #FFF;
    margin: 15px 0 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 344px;
    padding: 40px 24px;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    padding: 0 64px 112px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-size: cover;
    background: url(https://rawg.io/assets/8912664fc95a19b2c6faa9cbdbb95c41.jpg) no-repeat 50%/cover;

    span {
        font-size: 42px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }
}

.page__art {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);

    .art-wrapper {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        min-height: 100%;
        flex-grow: 1;
        justify-content: space-between;
        flex-direction: column;
        display: flex;

      .art {
        height: 100%;
        -webkit-transition: background .3s;
        transition: background .3s;
        background: no-repeat top;
        background-size: cover;
        background-color: rgba(101, 115, 131, 0.9);
        background-image: linear-gradient(rgba(186, 193, 199, 0.85),rgba(168, 180, 190, 1)), url(../../assets/default-bg.png);
        width: 100%;
        background-size: cover;
      }

      .art-alt {
        height: 100%;
        -webkit-transition: background .3s;
        transition: background .3s;
        background: no-repeat top;
        background-size: cover;
        background-color: rgba(37, 39, 41, 0.9);
        background-image: linear-gradient(rgba(40, 43, 46, 0.85),rgb(29, 30, 31)), url(../../assets/default-bg.png);
        width: 100%;
        background-size: cover;
      }
    }
  }


  /**/

@media only screen and (max-width: 938px) {
    .showcase span {
        color: inherit;
        height: 80%;
        max-height: inherit; 
    }
}