@font-face {
  font-family: 'Molot';
  font-weight: normal;
  font-style: normal;
  src: url(/assets/Molot-b38370bec460e698238490a718fd79dbbe6ce5bc36e471e7aa64bf7d0539fab2.otf) format("opentype");
}
/**
* Typography
**/
/* line 5, /Users/theus/winterworks/api/app/assets/stylesheets/base/_typography.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'Molot';
  font-weight: normal;
  font-style: normal;
  src: url(/assets/Molot-b38370bec460e698238490a718fd79dbbe6ce5bc36e471e7aa64bf7d0539fab2.otf) format("opentype");
}
/* line 5, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
* {
  padding: 0;
}

/* line 9, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
span {
  color: #FFF;
}

/* line 13, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.content {
  width: 100%;
  max-width: 930px;
}

/* line 18, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.header {
  font-size: 30px;
  font-family: Molot, sans-serif;
  color: #FFF;
  letter-spacing: .625px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
}

/* line 26, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.header a {
  color: inherit;
  text-decoration: none;
}

/* line 31, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.filled-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  border-radius: 3.5px;
  padding: 11px 34px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(to top, #4e647e, #46576d);
  box-shadow: 2px 2px 4px rgba(37, 48, 61, 0.44);
}

/* line 42, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.vacant-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  border-radius: 3.5px;
  padding: 11px 34px;
  text-decoration: none;
  color: #316188;
  background-image: linear-gradient(to bottom, #e6e6e6, #f3f3f3);
  box-shadow: 2px 2px 8px 1px rgba(40, 64, 92, 0.44);
}

/* line 53, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.showcase {
  color: #FFF;
  margin: 15px 0 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 344px;
  padding: 40px 24px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 0 64px 112px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background: url(https://rawg.io/assets/8912664fc95a19b2c6faa9cbdbb95c41.jpg) no-repeat 50%/cover;
}
/* line 88, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.showcase span {
  font-size: 42px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

/* line 95, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.page__art {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}
/* line 105, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.page__art .art-wrapper {
  height: 600px;
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
/* line 115, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.page__art .art-wrapper .art {
  height: 100%;
  -webkit-transition: background .3s;
  transition: background .3s;
  background: no-repeat top;
  background-size: cover;
  background-color: rgba(101, 115, 131, 0.9);
  background-image: linear-gradient(rgba(186, 193, 199, 0.85), #a8b4be), url(../../assets/default-bg.png);
  width: 100%;
  background-size: cover;
}
/* line 127, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
.page__art .art-wrapper .art-alt {
  height: 100%;
  -webkit-transition: background .3s;
  transition: background .3s;
  background: no-repeat top;
  background-size: cover;
  background-color: rgba(37, 39, 41, 0.9);
  background-image: linear-gradient(rgba(40, 43, 46, 0.85), #1d1e1f), url(../../assets/default-bg.png);
  width: 100%;
  background-size: cover;
}

/**/
@media only screen and (max-width: 938px) {
  /* line 145, /Users/theus/winterworks/api/app/assets/stylesheets/pages/_home.scss */
  .showcase span {
    color: inherit;
    height: 80%;
    max-height: inherit;
  }
}
