<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, 'Winterworks' %></title>
    <%= stylesheet_link_tag 'index' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

    <%= render 'shared/navbar' %>
    <p>Welcome to Winterworks.</p>

    <div class="showcase">
        <span>Create new projects and work with new people. Get paid for your art!</span>
    </div>

    <h2> Recent User Posts </h2>

    <% @users.each do |user| %>

        <% user.posts.each do |post| %>

        <% if post.post_type == "image" %>


            	<% if post.post_image.attached? %>
            		<div class="user-post-card"><%= image_tag post.post_image, style: 'height:40px;width:40px;' %> <br>     </div>
				<% end %>
   

        <% else %>
            no image posts
        <% end %>
            <!-- if user has posts show them -->
        <% end %>
    <% end %>

    <!-- Page Art Wallpaper -->

    <div class="page__art">
        <div class="art-wrapper">
            <div class="art"></div>
        </div>
    </div>
</body>
</html>