<!doctype html>
<head>
</head>
<body>
<%= render 'shared/navbar' %>

<h1>Social Feed</h1>
<p>Find artists and their works</p>
   
<%= form_tag(root_path method: :get) do %>
    <%= text_field_tag :user, nil, {:placeholder=>"Search...", :class => 'filter-search-module'}  %>
    <%= submit_tag 'Search', class: 'filter-search-btn' %>
<% end %>
<br>

<h3>Popular Art</h3>

<% @users.each do |user| %>

    <% user.posts.each do |post| %>

        <% if post.post_image.attached? %>
            <% if post.post_type == "image" %>

                <div class="user-post-card">
                <%= image_tag post.post_image %>
                Posted by @<%= post.user.username %> on <%= post.created_at %>
                <br>
                 <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p> 
                 <%= button_to "Like this post", like_post_path(post.uuid), :method=> :post %>
                 <li><%= link_to "View this post", view_this_post_path(post.uuid) %></li>
                </div>
            <% end %>
            <!-- if user has posts show them -->
        <% end %>
    <% end %>
<% end %>
<br>
<%= link_to "View all user posts", posts_feed_path %> <br>

<br>

<h3>New Users</h3>

<% @users.each do |user| %>
    <div class="user-card">
        <div class="inner-heading">
        <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, style: 'height:60px;width:60px;' %>
         <!-- show image if attached, if not use default-->
        <% else %>
	        <img src="https://d3pknrmpgdk5xi.cloudfront.net/assets/avatars/defaults/2-35169e7a0a76d93a0887f051aab8c51f02f050d919ff14a98dbc26179774b374.png" height="60" alt="<% user.username %>" class="nav-avatar">
        <% end %>
         <p><%= user.first_name %> <%= link_to('@' + user.username, view_profile_path(user.username), class: 'ok') %> </p>
    </div>
    </div>
    <br>
<% end %>


<%= link_to('View all users', list_users_path, class: 'ok') %> <br>

<!-- 

EVERY POST IS DISPLAYED IN BITS. TALENT/PROJECT/COMMISIONS HAVE THEIR OWN SEARCH PANELS
-->
</body>
</html>