<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, 'Simple Pricing - Winterworks' %></title>
    <%= stylesheet_link_tag 'pricing' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div class="app">
        <%= render 'shared/navbar' %>
        <div class="features">
            <h1>Simple Pricing.</h1>
            <p>Free</p>
            <a>You currently have this</a>
            <p>$4.99/month</p>
            <a href="#">Upgrade your account to this plan</a>
            <p>$9.99/month</p>
            <a href="#">Upgrade your account to this plan</a>
            <p>$19.99/month</p>
            <a href="#">Upgrade your account to this plan</a>
        </div>
    </div>
</body>

</html>