@charset 'UTF-8';

* {
    box-sizing: border-box;
}

@media (max-width: 911px) { 
    .nav-links {
        display: none;
    }

    #navbar .wrap .nav-right-side .nav-burger-menu {
        display: inline-block !important;
    }
}
@media (max-width: 1146px) { 
.nav-links {
    font-size: 15px;
}
}

@media (max-width: 555px) { 
    #navbar .wrap .nav-right-side a {
        display: none;
    }
}

#navbar .wrap .nav-right-side .nav-burger-menu {
    display: none;
}

.header-beta-span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    margin-left: -10px;
    margin-top: -3.5px;
    color: rgba(255, 255, 255, 0.83);
    cursor: pointer;
}

#navbar {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    font-size: 18px;

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;

        .nav-left-side {
            display: flex;
            align-items: center;
        }

        .nav-mid-side {
            display: flex;
            align-items: center;
        }

        .nav-right-side {
            display: flex;
            align-items: center;

            a {
                margin-right: 15px;
            }

            .dropdown-menu {
                display: none;

                /* .active {
                    display: block;
                } */
            }
        }
    }
}

.nav_user_img {
    cursor: pointer;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul li {
    list-style-type: none;
}

.nav-links ul li a {
    display: block;
    padding: 0.55em 0.75em;
    text-decoration: none;
    color: rgb(106, 136, 161);
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;

}

.profile-picture-link:hover
{
    .dropdown-content {
        display: block;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 4;
    }
}

// other shit

.navbox {
    display: block;
    position: absolute;
    right: 0;
    transform: translateY(0.25rem);
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.18);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease all;
}

.navbox:hover {
    visibility: visible;
}