body {
    color: rgba(114, 133, 145, 0.9);
}

.page__background {
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}