<%= render 'shared/navbar' %>

<div class="top-bar">

	<%= link_to('Go back to your profiles', view_profile_path(@current_user.username), class: 'ok') %> 

</div>

<h1>Update User Profile</h1>

<%= form_for(@user, url: update_profile_path, local: true) do |f| %>

<%= f.fields_for :profile do |p_f| %>
  <%= p_f.label "Availability" %>
  <%= p_f.select :status, Profile.statuses.keys %>
  <br>
  <%= p_f.label "Do you want to take commissions?" %>
  <%= p_f.check_box :taking_requests %>
<% end %> <br>

<%= f.label :first_name %>:
  <br>
  <%= f.text_field :first_name, class: 'form-control' %>

<br>

<%= f.label :last_name %>:
  <br>
<%= f.text_field :last_name, class: 'form-control' %>


<br>

<%= f.label :bio %>:
<br>
<%= f.text_area :bio, :cols => "30", :rows => "5" %>

<br>

<%= f.label :location %>:
  <br>
<%= f.text_field :location, class: 'form-control', autocomplete: "location" %>

<br>

<% if @current_user.profile_image.attached? %>
	<%= image_tag @current_user.profile_image %>
<% end %>

<%= f.label :profile_image %>:
  <br>

<%= f.file_field :profile_image, class: 'image-' %><br>

<br>

<%= f.label :website %>:
  <br>

<%= f.text_field :website, class: 'website-link' %><br>

<br>

  <%= f.submit "Save changes"%>
<% end %>