<!-- ./dashboard -->

<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, 'Dashboard - Winterworks' %></title>
    <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

    <%= render 'shared/navbar' %>

    <div class="app">

    <span><h1>Dashboard</h1>

    <% if user_signed_in? %>

        <%= link_to('Account Settings', edit_user_registration_path) %>
        <br>
        <%= link_to('Your Profile', view_profile_path(current_user.username)) %>
        <br>  
        <%= link_to('Edit your profile', edit_profile_path) %>  
        <br>  
        <%= link_to('Payment Settings', edit_billing_methods_path) %>
        <br>    
 
    <% end %>

    <h4>Signed in as... <%= current_user.first_name %></h4>
    <p>Welcome to the dashboard..it's a work in progress.</p>

    <h2>Projects</h2>

    <% if @projects.empty? %>
        <p>nothing here yet</p>
    <% else %>
        <% @projects.each do |project| %>
        <li><%= project.title %></li>
        <%= link_to "View this project", view_singular_project_path(project.uuid) %>
        <br>
        <% end %>
    <% end %>
 
    <br>

    <h2>Orders</h2>
    <p>nothing here yet</p>

    <br>

    <h2>Payouts</h2>
    <p>nothing here yet</p>
    
    </span>

    <br>

    <!-- link to log out -->
    <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'vacant-btn' %>

    </div>

    <!-- background -->
        <div class="page__art">
        <div class="art-wrapper">
            <div class="art-alt"></div>
        </div>
    </div>
</body>
</html>
