<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, 'Users — Winterworks' %></title>
    <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
    <body>
    <%= render 'shared/navbar' %>

    <div class="heading">
            <h1>List of Winterworks users</h1>
    </div>

<% @users.each do |user| %>
    <div class="user-card">
        <div class="inner-heading">
        <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, style: 'height:60px;width:60px;' %>
         <!-- show image if attached, if not use default-->
        <% else %>
	        <img src="https://d3pknrmpgdk5xi.cloudfront.net/assets/avatars/defaults/2-35169e7a0a76d93a0887f051aab8c51f02f050d919ff14a98dbc26179774b374.png" height="60" alt="<% user.username %>" class="nav-avatar">
        <% end %>
         <p><%= user.first_name %> <%= link_to('@' + user.username, view_profile_path(user.username), class: 'ok') %> </p>
    </div>
    </div>
    <br>
<% end %>

</body>
</html>