<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title,  'Winterworks | ' + 'More About ' + @user.first_name + ' (@' + @user.username + ')' %></title>
    <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= render 'shared/navbar' %>

<h1>About <%= @user.first_name %> (@<%= @user.username%>)</h1>

<% if @profile.about_desc == nil %>
<p>About description: Nothing here yet</p>
<% else %>
<p>About description: <%= @profile.about_desc %></p>
<% end %>

<% if @profile.work_exp == nil %>
<p>Work experience: Nothing here yet</p>
<% else %>
<p>Work experience: <%= @profile.work_exp %></p>
<% end %>

</body>
</html>
