<%= render 'shared/navbar' %>

<h1>Discover Talent</h1>
<p>a collection of users taking comission requests</p>

<!-- coming soon: a href="#">filter button here</a><br> -->
<br>

<!-- if user.profile.taking_requests? -->

<% @users.each do |user| %>

 <% if user.profile.taking_requests? %>

<li> this user (@<%= user.username%>) is taking requests right now</li>

<% else %>
    <li>this user (@<%= user.username %>) is not taking any requests </li>
 <% end %>

<% end %>