<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, @user.first_name + '\'s profile on Winterworks' %></title>
    <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= render 'shared/navbar' %>


<br>

<div style="text-align:center;">

<!-- show image if attached, if not use default-->
<% if @user.profile_image.attached? %>
	<%= image_tag @user.profile_image, style: 'height:80px;width:80px;' %>
<% else %>
	<img src="https://d3pknrmpgdk5xi.cloudfront.net/assets/avatars/defaults/2-35169e7a0a76d93a0887f051aab8c51f02f050d919ff14a98dbc26179774b374.png" height="80" alt="<% @user.username %>" class="nav-avatar">
<% end %>

		<div class="userprofile-heading">
		<h1><%= @user.first_name %> <%= @user.last_name %> 
		<% if @user.admin? %>
			<!-- show admin badge -->
			<span class="admin-badge">Admin</span>
		<% end %>
		</h1>

		<% if @user != current_user %>
			<% if @z == nil %>
				<%= button_to 'Follow', follow_this_user_path(@user.username), :method => :post %>
			<% else %>
				<%= button_to 'Unfollow', follow_this_user_path(@user.username), :method => :post %>
			<% end %>
		<% end %>
		
		</div>
		<p><%= link_to('@' + @user.username, view_profile_path(@user.username), class: 'ok') %> </p>
		<p><%= link_to('About ' + @user.first_name, about_profile_path(@user.username)) %></p>
		<br>
		<!-- BIO -->
		<% if @user.bio == nil %>
			Bio: Nothing here yet
			<br>
		<% else %>
			<p>Bio: <%= @user.bio %></p>
		<% end %>

		<!-- LOCATION -->
		<% if @user.location == nil %>
			Location: Presumably the internet?
			<br>
		<% else %>
			<p>Location: <%= @user.location %></p>
		<% end %>

		<!-- WEBSITE -->
		<% if @user.website == nil %>
			Website: Nothing linked yet?
		<% else %>	
			<p>Website: <a href="<%= @user.website %>"><%= @user.website %></a></p>
		<% end %>

		<p><%= @user.profile.status %> </p> <br>

		<% if @user.profile.status == 1 %>
			<span class="status-badge">
			<p>This user is looking for work</p>
			</span>
		<% end %>

<!-- follow button, message button, projects, commission portfolio -->

<p>Following: <%= @user.following.count %></p>
<p>Followers: <%= @user.followers.count %></p>
<p>Likes: <%= @user.likes.count %></p>

<% if @user == current_user %>
		<br>
		<%= link_to('Edit your PROFILE', edit_profile_path) %>  
		<span><p><%= @user.member_type %> membership</p></span>
<% end %>

<% if @user.profile.taking_requests? %>
	<p>User is taking commissions!</p>
	<%= link_to('View ' + @user.username + '\'s commission page', view_user_commission_page_path(@user.username)) %>
<% else %>
	<p>User is not taking commissions at this time.</p>
<% end %>


<% if @user.projects.any? %>
	Projects (<%= @user.projects.count %>)
<% end %>

  <% unless @user.posts.any? %>
  <h1>Portfolio</h1>
        @<%= @user.username %> has no posts...yet <br>
    <% else %>
		<h1>Posts</h1>
        <% @user.posts.each do |post| %>
		    <% if post.post_image.attached? %>
        	<div class="user-post-card">
			<% if post.post_type == "image" %>
				
				Posted by: @<%= post.user.username %> 
            	<li><%= post.title %></li>
				<%= image_tag post.post_image, style: 'height:40px;width:40px;' %> <br> 
            	<li><%= post.date_posted %></li>
            	<li><%= post.description %></li>
			<% else %>
				<li>this is a audio and or video post, currently not previewable</li>
			<% end %>
        </div>
			<% end %>

        <% end %>
            <!-- if user has posts show them -->
    <% end %>
</div>
</body>
<html>