// Font face declarations and mixins.

@mixin medium-sans {
    font-family: -apple-system;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'Molot';
    font-weight: normal;
    font-style: normal;
    src:font-url('Molot.otf') format('opentype');
} 

$logo-default: Molot, sans-serif;
