<!Doctype html>
<html>
<head>
    <%= stylesheet_link_tag 'shared/nav_bar' %>
</head>
<body>
<%= render 'shared/navbar' %>

<br>
<div>
<%= link_to create_new_project_path, class: 'filled-btn' do %>New Project<% end %>
</div>

<h1>Discover projects</h1>

<p>a collection of active projects, coming soon</p>

<a href="#">filter button here</a><br>

<br>

<% if @projects.empty? %>
    No projects match this criteria (empty)
<% end %>


<% if @projects.where(is_published: false) %>
    No projects match this criteria (none published)
<% else %>
    <% @projects.each do |p| %>
        <% if p.project_type = @query %>
            <!-- if user has posts show them -->
            <li><%= p.title %></li>
            <%= link_to "View this project", view_singular_project_path(p.uuid) %>
        <% end %>
    <% end %> 
<% end %>
</body>
</html>