<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'shared/nav_bar' %>
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous">
    </script>
    <%= javascript_include_tag "index" %>
    <script>
    // index.js

$(document).ready(function(){
    $('.nav-right-side img').on('click', () => {
        console.log("clicked");
        if ($('#navbar .wrap .nav-right-side .dropdown-menu').hasClass('active')) {
            // if it already has, remove it and make the menu invisible
            $('#navbar .wrap .nav-right-side .dropdown-menu').removeClass('active');
            $('#navbar .wrap .nav-right-side .dropdown-menu').css({'display': ''});
            $('#navbar .wrap .nav-right-side .dropdown-menu').css({'display': 'none'});

            next();
        } else {
            console.log("twice clicked");
            // if it doesn't, add the class and make the menu visible
            $('#navbar .wrap .nav-right-side .dropdown-menu').addClass('active');
            $('#navbar .wrap .nav-right-side .dropdown-menu').css({'display': ''});
            $('#navbar .wrap .nav-right-side .dropdown-menu').css({"display": "block"});

            next();
        };
    });
});


</script>
</head>
<body>

<!-- NAV BAR -->

<div id="navbar">
    <div class="wrap">

        <div class="nav-left-side">
            <div class="header">
                <%= link_to "Winterworks", root_path, class: 'nil' %>
             <!-- MARK: DEPRECRATED   <span class="header-beta-span">beta</span> -->
            </div>
        </div>

        <div class="nav-mid-side">
            <div class="nav-links">
                <ul>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Pricing", pricing_path %></li>
                    <li><%= link_to "Manufactory", manufactory_path(:select_services) %></li>

                    <li><%= link_to "Discover", social_feed_path %></li>

                    <li><%= link_to "Projects", view_projects_path %></li>
                    <li><%= link_to "Talent", hireable_users_path %></li>
                    <li><%= link_to "Commissions", list_commissions_path %></li> 

                    <!-- <li><%= link_to "Blog", view_blog_path %></li> -->

                </ul>
            </div>
        </div>



        <% if current_user.nil? %> 
        <div class="nav-right-side"> 
            <%= link_to "Sign Up", new_user_registration_path, class: 'filled-btn' %> <br>
            <%= link_to "Log In", new_user_session_path, class: 'vacant-btn' %>
            <a href="#" class="nav-burger-menu">burger</a>
        </div>
        <% end %>

        <% if user_signed_in? %>
            <div class="nav-right-side">
            <% if current_user.profile_image.attached? %>
                <%= image_tag current_user.profile_image, style: 'height:60px;width:60px;border: 4px solid #ffffff;box-shadow: 0 1px 5px 0 rgba(93,118,194,0.5);border-radius: 100%;', class: "nav_user_img" %>
            <% else %>
                <a href="<%= view_profile_path(current_user.username) %>">
	            <img src="https://d3pknrmpgdk5xi.cloudfront.net/assets/avatars/defaults/2-35169e7a0a76d93a0887f051aab8c51f02f050d919ff14a98dbc26179774b374.png" style='height:60px;width:60px;border: 4px solid #ffffff;box-shadow: 0 1px 5px 0 rgba(93,118,194,0.5);border-radius: 100%;' alt="<% current_user.username %>" class="nav-avatar">
                </a>
            <% end %>

            <ul class="dropdown-menu">
                <li><%= link_to 'My Profile', view_profile_path(current_user.username), {:class => 'profile-picture-link'} %></li>
                <li><%= link_to 'My Projects', view_projects_path %></li>
                <li><%= link_to 'Upload art', upload_post_path %></li>
                <li><%= link_to 'Go to Dashboard', user_root_path %></li>
                <li><%= link_to 'Support', support_path %></li>
                <li><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'logout' %></li>
            </ul>
            <!--

                Support
                My Projects
                <%= link_to 'Upload art', upload_post_path %>
                <%= link_to user_root_path, class: 'filled-btn' do %>Go to Dashboard!<% end %>
            -->
        </div>
    <% end %>

    </div>
</div>

<!-- PAGE ART -->

<div class="page__art">
        <div class="art-wrapper">
            <div class="art"></div>
        </div>
</div>

</body>
</html>