<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'shared/proj_bar' %>
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous">
    </script>
</head>
<body>

    <% if @user.id == @owner.id %>

    <div id="nav_bar">

        <%= @project.title %>

        <ul>
            <li><%= link_to 'Overview', view_singular_project_path %></li>
            <li>Feed</li>
            <li>Chat</li>
            <li>Files</li>
            <li>Tasks</li>
            <li>Members</li>
        </ul>
    </div>
    <% else %>
       My projects <!-- this is not your project -->
        <ul>
            <li><%= link_to 'Overview', view_singular_project_path %></li>
            <li>Members</li>
        </ul>
    <% end %>
<div class="page__background"></div>
</body>