
<%= render 'shared/navbar' %>

<br>
<div>
<%= link_to create_new_project_path, class: 'filled-btn' do %>New Project<% end %>
</div>

<h1>Featured projects</h1>

<p>a collection of active projects, coming soon</p>

<!-- coming soon: a href="#">filter button here</a><br> -->

<br>

<% if @projects.empty? || @projects.where(is_published: false) %>
    No public projects yet
<% end %>

<% @users.each do |user| %>

        <% user.projects.each do |pj| %>
            <% if pj.is_published? %>
            <!-- if user has posts show them -->
               <li><%= pj.title %></li>
               <%= link_to "View this project", view_singular_project_path(pj.uuid) %>
            <% end %>
        <% end %>
<% end %>