
<%= render 'shared/navbar' %>

<h1>Create a new project </h1>

<%= form_for(@project, url: submit_new_project_path, local: true) do |f| %>

    <%= f.label :project_type %>
    <%= f.select :project_type, Project.project_types.keys, {}, { :class => 'my_style_class' }  %> 

    <br>

    <%= f.label :category %>
    <%= f.select :category, Project.categories.keys, {}, { :class => 'my_style_class' }  %> 

    <br>

    <%= f.label :status %>
    <%= f.select :status, Project.statuses.keys, {}, { :class => 'my_style_class' }  %> 

    <%= f.hidden_field :is_published, :value => false %>

    <%= f.label :title %>:
    <%= f.text_field :title, class: 'form-control' %>
    
    <br>

    <br>

    <%= f.submit "Create a new project"%>
<% end %>