<!-- render both bars, hidden on click -->

<%= render 'shared/navbar' %>
<%= render 'shared/projbar' %>



<%= link_to "Return to all projects", view_projects_path %>

<% if @project.is_published == false %>
    <% if @user.id == @owner.id %>
		<br>
        This is a draft!
		<%= link_to 'Prepare for publishing', edit_project_path(@project.uuid, :details) %>
    <% else %>
        <% controller.redirect_to root_path, notice: 'Project is in draft mode and invisible, redirect!' %>
    <% end %>

<% else %>
    THIS PROJECT IS PUBLISHED
<% end %>

<h1><%= @owner.username%>'s project</h1>

<% if @user.id == @owner.id %>
    <h3><%= @project.title %></h3> <br>
    u own this project
<% else %>
    <% if @project.is_published? %>
        <h3><%= @project.title %></h3> <br>
        <%= @project.project_type %> <br>
        <%= @project.category %> <br>
        <%= @project.status %> <br>
        <%= link_to "Request to join this project", view_projects_path %>
    <% else %>
        This project is not published yet.
    <% end %>
<% end %>