<%= render 'shared/navbar' %>

<%= link_to 'Go back to style selection', previous_wizard_path %>
<h1>Order Preview</h1>
<%= link_to 'Submit order to selected artist and return home', next_wizard_path %>