<%= render 'shared/navbar' %>

<%= link_to('Return to commission portfolio page', view_user_commission_page_path(current_user.username)) %>

<h1>Create a new commision template</h1>

<%= form_for(@commission, url: submit_new_commission_path, local: true) do |f| %>

    <br>

    <%= f.label :title %>:
    <%= f.text_field :title, class: 'form-control' %>
    <Br>

    <%= f.label :desc %>:
    <br>
    <%= f.text_area :desc, :cols => "30", :rows => "5", class: 'form-control' %>
    
    <br>

    <%= f.label :price %>:
    <br>
    <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>

    <br>

    <%= f.label :example_image %>:
    <h6>accepted file formats: pictures, images, mp3s, or mp4 videos</h6>
    <%= f.file_field :example_image, class: 'p-img' %><br>

    <br>

    <%= f.submit "Upload a new post"%>
<% end %>