<%= render 'shared/navbar' %>

<div>
<br>
<%= link_to create_new_commission_path, class: 'filled-btn' do %>Create a New Commission<% end %>
</div>


<h2> List all commissions </h2>


<% if @commissions.empty? %>
    no global commissions yet!
<% else %>

<!-- MARK: IMPLEMENT SEARCH -->

<!-- coming soon: a href="#">filter button here</a><br> -->

<br>



<% @users.each do |user| %>

        <% user.commissions.each do |commission| %>

            <div class="commission-card">

                <% if commission.example_image == nil %>
                fuck
                <% else %>
                <%= image_tag commission.example_image, style: 'height:240px;width:240px;' %> <br>
                <% end %>
                <h3><%= commission.title %></h3>
                <p>Made by @<%= commission.user.username %></p>
                <%= commission.desc %>
                <p>$<%= sprintf('%.2f', commission.price) %> 💰 </p>
                <br>
                 <%= link_to "View this piece  |", view_singular_commission_path(user.username, commission.uuid) %>
                 <%= link_to "Order your own", place_new_commission_order_path(commission.uuid, commission.uuid) %>
                
                <br>
            </div>
            <!-- if user has posts show them -->
        <% end %>
<% end %>

<% end %>