<%= render 'shared/navbar' %>

<%= link_to "Return to all commissions", list_commissions_path %>

<h1><%= @user.username%>'s Commission titled "<%= @commission.title %>"</h1>
<h2>💰 $<%= sprintf('%.2f', @commission.price) %></h2>
<%= image_tag @commission.example_image, style: 'height:540px;width:540px;' %> <br>

<%= link_to "Order your own", place_new_commission_order_path(@commission.uuid, @commission.id) %>