<%= render 'shared/navbar' %>

<%= link_to('Return to your portfolio', view_user_commission_page_path(@user.username), class: 'ok') %> 
<h1>Update your Commissions Portfolio</h1>

<%= form_for(@portfolio, url: update_user_commission_page_path, local: true) do |f| %>
    
    <%= f.label :description %>:
    <br>

    <%= f.text_area :description, :cols => "30", :rows => "5" %>
    <br>

    <h4>Set your rate</h4>
    <%= f.label :rate_amount %>:
    <%= f.number_field :rate_amount, :step => 0.05 %>

    <%= f.label :rate_timeframe %>:
    <%= f.number_field :rate_timeframe %> per

    <%= f.label :rate_type %>
    <%= f.select :rate_type, Portfolio.rate_types.keys, {}, { :class => 'my_style_class' }  %> 
    

    
    <%= f.submit "Save changes"%>
<% end %>