<%= render 'shared/navbar' %>

<h1>View <%= @user.username %>'s Comissions Portfolio</h2>
<% if @user == current_user %>
    <%= link_to('Edit commissions portfolio', edit_user_commission_page_path) %>
<br>
<% end %>
<p>Description: <%= @user.portfolio.description %></p>

<% if @user.portfolio.rate_amount && @user.portfolio.rate_timeframe && @user.portfolio.rate_type == nil %>
    <p>User has not set a commission rate yet.</p>
<% else %>
<p>Rate: $<%= @user.portfolio.rate_amount %> per <%= @user.portfolio.rate_timeframe %> <%= @user.portfolio.rate_type %></p>
<% end %>

<% if @user.portfolio.ratings == nil %>
    This user has no feedback yet.
<% else %>
<p>Testimonial Rating: <%= @user.portfolio.ratings %></p>
<% end %>

<h1>Examples of Work</h1>

<% if @user == current_user %>
    <%= link_to('Add new commission to portfolio', create_new_commission_path) %>
<% end %>

<% @user.commissions.each do |commission| %>
    <br>
    <%= image_tag commission.example_image, style: 'height:200px;width:200px;' %> <br>
    <h2>💰 $<%= sprintf('%.2f', commission.price) %></h2>
    <%= commission.desc %>
    <br>
<% end %>