<!DOCTYPE html>
<html>
<head>
    <title><%= content_for :title, 'Posts on WinterWorks' %></title>
    <%= stylesheet_link_tag 'posts' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= render 'shared/navbar' %>

<%= link_to "Return to feed", social_feed_path %>

<h1> View every post on Winterworks </h1>

<% if @posts.empty? %>
    no posts yet!
<% else %>

<% @users.each do |user| %>

        <% user.posts.each do |post| %>

 <% if post.post_image.attached? %>
        <% if post.post_type == "image" %>
        <div class="user-post-card">
            Posted by: @<%= post.user.username %> 
            <li><%= post.title %></li>
            <li><%= post.date_posted %></li>
            <%= image_tag post.post_image, style: 'height:40px;width:40px;' %>
            <li><%= post.description %></li>
            <br>
            <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
             <%= button_to "Like this post", like_post_path(post.uuid), :method=> :post %>
            <li><%= link_to "View this post", view_this_post_path(post.uuid) %></li>
        </div>
        <% end %>
<% end %>
            <!-- if user has posts show them -->

<% end %>
    <% end %>
<% end %>
</body>
</html>