<!DOCTYPE html>
<html>
<head>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous">
</script>
<script>

    $(document).ready(function(){

    // by default hide other forms and show image
    $( ".p-img" ).show();
    $( ".p-vid" ).hide();
    $( ".p-aud" ).hide();


        $("#post_post_type").change(function(){
            console.log('wat');
            var query = $('#post_post_type').find(":selected").text();
             if (query == 'video') {
                // do this
                console.log('user has selected video');
                    $( ".p-img" ).hide();
                    $( ".p-aud" ).hide();
                    $( ".p-vid" ).show();
            };

                         if (query == 'audio') {
                // do this
                console.log('user has selected audio');
                 $( ".p-img" ).hide();
                    $( ".p-vid" ).hide();
                $( ".p-aud" ).show();
            };

                         if (query == 'image') {
                // do this
                console.log('user has selected img');
                 $( ".p-vid" ).hide();
                    $( ".p-aud" ).hide();
                    $( ".p-img" ).show();
            };
        });
    });
</script>
</head>
<body>
<%= render 'shared/navbar' %>

<h1>Upload a new post</h1>

<%= form_for(@post, url: submit_new_post_path, local: true) do |f| %>

    <%= f.label :post_type %>
    <%= f.select :post_type, Post.post_types.keys, {}, { :class => 'my_style_class' }  %> <!-- add to journal -->

    <br>

    <%= f.label :title %>:
    <%= f.text_field :title, class: 'form-control' %>
    
    <br>

    <%= f.label :description %>:
    <br>
    <%= f.text_area :description, :cols => "30", :rows => "5", class: 'form-control' %>

    <br>

    <!-- depending on 'post_type' select input, change file_field to :post_video or :post_audio
            Dyanmic Select Menu & Input Forms in Rails 5
            SUPPOSEDLY A JQUERY THING **EYEROLL*** 
    -->

    <%= f.label :post_image, class: 'p-img' %>
    <%= f.file_field :post_image, class: 'p-img' %><br>

    <%= f.label :post_audio, class: 'p-aud' %>
    <%= f.file_field :post_audio, class: 'p-aud' %><br>

    <%= f.label :post_video, class: 'p-vid' %>
    <%= f.file_field :post_video, class: 'p-vid' %><br>

    <br>

    <%= f.submit "Upload a new post"%>
<% end %>

</body>
</html>