<%= render 'shared/navbar' %>

<h1><%= @post.title %></h1>
       
        <% if @post.post_type == "image" %>
        <div class="user-post-card">
            <%= image_tag @post.post_image, style: 'height:40px;width:40px;' %>
        </div>
        <br>
         Posted by: @<%= @post.user.username %> 
            <%= @post.date_posted %>
            <br>
            <%= @post.description %>
            <% if @poster == current_user %>
                <% if @like == nil %>
                    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <br> <%= button_to "Like your post", like_post_path(@post.uuid), :method=> :post %>
                <% else %>
                    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <br> <%= button_to "You've already liked your post. Unlike?", like_post_path(@post.uuid), :method=> :post  %>
                <% end %>
            <% else %>
                <% if @like == nil %>
                    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <br> <%= button_to "Like this post", like_post_path(@post.uuid), :method=> :post %>
                <% else %>
                    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <br> <%= button_to "You've already liked this post. Unlike?", like_post_path(@post.uuid), :method=> :post  %>
                <% end %>
            <% end %>
        <% end %>

<!-- create_new_comment -->

<%= form_for(@comment, url: create_new_comment_path(@post.uuid)) do |f| %>

    <%= f.label "Post a new comment" %>
    <br>

    <%= f.text_area :body, :cols => "30", :rows => "5", class: 'form-control' %>
    <br>

    <%= f.submit "Submit"%>
<% end %>

<!-- previous comments -->
<% if @comments.empty? %>
    no comments yet!
<% else %>
    <% @post.comments.each do |c| %>
        <p>@<%= @poster.username %> posted "<%= c.body %>" at <%= c.date_posted %>.</p><br>
    <% end %>
<% end %>