// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset 'UTF-8';

// Base @import 'base/base'; 
@import 'base/fonts'; // Fonts
@import 'base/typography'; // Typography

@import 'pages/home'; // Home Page

.user-post-card {
    display: -webkit-inline-box;
    box-shadow: 2px 5px 28px 1px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 190px;
    margin-left: 18PX;
    margin-bottom: 56PX;
    border-radius: 12px;
}

.user-post-card img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
}

.filter-search-module {
    background-color: black;
    color: white;
    border-style: none;
    padding: 12px 6px;
    width: 260px;
    font-size: 18px;
    border-radius: 4px;
}

input.filter-search-btn {

    margin-left: -64px;
}

@media (max-width: 320px) {
    .user-post-card {
        margin-left: 9PX;
        margin-bottom: 56PX;
    }    
 }

/* .notice{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: red;
    border-color: cadetblue;
    color: #FFF;
}

.alert {
}

*/