// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
    color: rgb(19, 148, 223);
}

img {
    border-radius: 3.9em;
}

.admin-badge {
    background-color:rgb(19, 148, 223);
    color:#fff;
    display:inline-block;
    padding: 6px 18px;
    text-align:center;
    border-radius: 18px;
}

.user-card {
    background-color: rgba(255, 255, 255, 0.344);
    border-radius: 6px;

    .inner-heading {
        padding: 26px 23px;
    }
}


.user-card img {
    border-radius: 1.9em !important;
}

.heading h1 {
    color: #6e7e96;
    background-image: linear-gradient(to bottom, #475357 0%, #6e7e96 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}